$main-bg: #fff;

$color-white: #fff;
$color-white-darker: #FDFDFD;
$color-black: #000;
$color-red: red;
$color-yellow: #D0A85C;
$color-blue: #0BC6E3;
$color-gray: rgba(186,186,186,.1);
$color-border: #ededed;
$color-hover: rgba(128,128,128,.5);
$color-line: #808080;

$header-height: 80px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;
$main-button-height: 55px;
$main-button-width: 195px;
$second-button-height: 30px;
$second-button-width: 220px;

$box-shadow: rgba(47, 49, 51, 0.2) 0px 8px 24px;

$mobile-width: 600px;
$tablet-width: 1024px;
