<div class="footer">
  <div class="footer-banner">
    <div class="footer-banner-item">
      <p class="footer-banner-item-text">{{'footer.banner.aboutLol' | translate}}</p>
    </div>
    <div class="footer-banner-item">
      <p class="footer-banner-item-text">{{'footer.banner.support' | translate}}</p>
    </div>
    <div class="footer-banner-item">
      <p class="footer-banner-item-text">{{'footer.banner.esports' | translate}}</p>
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-main-icon">
      <div class="footer-main-icon-item">
        <i class="fa-brands fa-facebook"></i>
      </div>
      <div class="footer-main-icon-item">
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div class="footer-main-icon-item">
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
    <div class="footer-main-logo">
      <img class="footer-main-logo-riot" src="../../../assets/footer/logo_white.png" alt="logo-riot">
      <img src="../../../assets/footer/vng.png" alt="logo-vng">
    </div>
    <p class="footer-main-license">{{'footer.license.text' | translate}}</p>
    <div class="footer-main-privacy">
      <div class="footer-main-privacy-item">
        <p class="footer-main-privacy-item-text">{{'footer.privacy.notice' | translate}}</p>
      </div>
      <div class="footer-main-privacy-item">
        <p class="footer-main-privacy-item-text">{{'footer.privacy.service' | translate}}</p>
      </div>
      <div class="footer-main-privacy-item">
        <p class="footer-main-privacy-item-text">{{'footer.privacy.cookie' | translate}}</p>
      </div>
    </div>
    <img class="footer-main-img" src="../../../assets/footer/vn-18plus.png" alt="warning-18plus">/>
  </div>
</div>
